.modal.product-popup {
  background-color: rgba(47, 46, 46, 0.8) !important;
	// overflow: hidden;
	z-index: 100;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
	padding-top: 70px;
	overflow-y: auto;
	padding-right: 0 !important;

	.modal-dialog {
		display: flex !important;
		align-items: center;
		margin: 0 !important;
		z-index: 1000;
		
	}

	.slick-slide {
		
		img {
			// height: 100%;
			width: 100%;
			object-fit: cover;
			padding: 0 20px;
		}
	}

  .modal-content {
    background-color: #111;

    .modal-body {
      box-shadow: none !important;

      .product-detalis {

				.products-slider {

					.product-img {
						background-color: #101010 !important;
						display: flex !important;
						align-items: flex-start;
						justify-content: center;
						max-height: 500px !important;
						
						img {
							max-width: 100% !important;
							object-fit: contain;
						}
					}
				}
      }

    }
  }
}

.product--meta-select3 {

	.row {
		border: none !important;
	}

	select.form-control {

		option {
			color: #000;

			&:hover {
				color: #fff;
			}
		}
	}
}

.product--desc-tabs {

	.tab-content .product--desc p {
		min-height: 60px;
	}
}

@media (max-width: 991px) {

	.modal.product-popup {
		align-items: center;
		justify-content: center;
		
		.modal-dialog {
			margin-top: 500px !important;
			max-width: 90% !important;
			z-index: 1000;
		}
	}
}

@media (max-width: 450px) {

	.modal.product-popup .modal-dialog {
		margin-top: 650px !important;
		max-width: 100% !important;

	}
	
}