.modal.product-popup {
  background-color: rgba(47, 46, 46, 0.8) !important;
	overflow-x: hidden;
  overflow-y: auto;
	z-index: 50;


	.modal-dialog {
		
		display: flex !important;
		// justify-content: center;
		align-items: center;
		margin: 0 auto !important;
		z-index: 50;
	}

	.slick-slide {
		
		img {
			width: 100%;
			padding: 0 20px;
		}
	}

  .modal-content {
    background-color: #111;

    .modal-body {
      box-shadow: none !important;

      .product-detalis {

				.products-slider {

					.product-img {
						background-color: #101010 !important;
						display: flex !important;
						align-items: flex-start;
						justify-content: center;
						max-height: 500px !important;
						
						img {
							max-height: 500px !important;
							object-fit: contain;
						}
					}
				}
      }

    }
  }
}

.product--meta-select3 {

	select.form-control {

		option {
			color: #000;

			&:hover {
				color: #fff;
			}
		}
	}
}

@media (max-width: 991px) {

	.modal.product-popup {
		padding-right: 0 !important;
	}

	.modal.product-popup .modal-dialog {
		margin: 50% auto 0 !important;
	}

	.product--meta-action>div {
		margin-bottom: 15px !important;
	}
	
}

@media (max-width: 369px) {

	.modal.product-popup {
		padding-right: 0 !important;
	}

	.modal.product-popup .modal-dialog {
		margin: 70% auto 0 !important;
	}
	
}