table {
	overflow-x: visible;

}

::-webkit-scrollbar {
	display: none !important;
}

.cart-product {

	th {
		color: #fff !important;
	}

	.cart-product-item {
		display: flex !important;
		align-items: center;

		.cart-product-img {
			width: 120px;
			height: 90%;
			top: unset !important;
			display: flex !important;
			justify-content: center;
			align-items: center;
			
			img {
				max-width: 100% !important;
				max-height: 90% !important;
			}
		}

		.cart-product-content {
			padding-left: 140px !important;

			ul.options {

				li {
					padding-left: 0 !important;

					&::before {
						display: none;
					}
				}
			}
		}
	}

	.cart-product-quantity {

		input.qty {
			color: #111 !important;
		}
	}

	.cart-product-price-quantity-mobile {
		display: none;
	}

	.cart-product-price {
		
		.product-quantity {
			display: none;
		}
	}

	.cart-product-quantity {

		>span {
			display: none;
		}
	}

	.cart-product-price-q-m {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 10%;
	}

	.cart-product-total {

		div.cart-product-remove {
			&:hover {
				color: #fff !important;
			}
		}
	}

}

.cart-product-action {

	.clear-shopping-list-btn {
		color: #fff !important;
	}

	.apply-copun-btn {
		color: #fff !important;
	}

	.checkout--panel {
		background-color: transparent !important;

		.checkout-btn {
			color: #fff !important;
		}
	}
}

@media ( max-width: 768px ) {

	.cart-product {

		.cart-product-price-quantity-mobile {
			display: table-cell;
		}
		
		.cart-product-price {
			display: none;
		}

		th.cart-product-quantity {
			display: none !important;
		}

		.cart-product-quantity {
			
			div.product-quantity {
				margin-right: auto !important;
			}

			>span {
				display: flex;
				margin-top: 10px;
			}
		}


	}
	
}
