.testimonial-carousel {
	overflow: visible;
	padding: 40px 0;

	.next-arrow {
		position: relative;
		z-index: 20;

		svg {
			position: absolute;
			top: -60px;
			left: 50%;
			transform: translateX(-50%);
			width: 30px;
			height: 30px;
			color: rgba($color: #a1a1a1, $alpha: 0.4);
			cursor: pointer;
		}
	}

	.prev-arrow {
		position: relative;
		z-index: 20;

		svg {
			position: absolute;
			bottom: -50px;
			left: 50%;
			transform: translateX(-50%);
			width: 30px;
			height: 30px;
			color: rgba($color: #a1a1a1, $alpha: 0.4);
			cursor: pointer;
		}
	}

	.testimonial-panel {

		.testimonial--meta-img {

			img {
				width: 50px !important;
				height: 50px !important;
			}
		}

		.testimonial--body {
			width: 60%;
			margin: 0 auto;
			p {
				color: #A1A1A1;
				line-height: 1.45 !important;
			}
		}

		.testimonial--meta {
			span {
				color: #a1a1a1;
			}
		}
	}
}

.testimonial {
	padding-bottom: 0 !important;
}

@media ( max-width: 768px ) {

	.testimonial-carousel {

		.testimonial-panel {

			.testimonial--body {
				width: 100%;

				p {
					// line-height: 2rem;
					font-size: 1rem;
				}
			}
		}
	}
}