div.slideshow-main {
	z-index: 5 !important;
	position: relative;
	width: 100vw;
	height: 75vh;
	display: flex;
	justify-content: center;
	background: rgb(14, 14, 14) !important;
	padding-bottom: 100px;
	
	.slider-wrapper {
		background: rgb(14, 14, 14);
		z-index: 20 !important;
		// width: 100%;
		// height: 100%;
		// max-width: 1600px;
		max-width: 1140px;

		.all-slides {
			height: 100%;
			width: 100%;
			position: relative;
		}

		.slide-dots {
			display: flex;
			align-items: center;
			
			div {
				z-index: 20;
				margin-left: 5px;
				width: 26px;
				height: 3px;
				background: #252525;
				border-radius: 0;
				cursor: pointer;
				position: relative;
	
				&::after {
					content: "";
					position: absolute;
					top: -3px;
					right: 0;
					z-index: 2;
					width: 8px;
					height: 8px;
					background-color: #f26c4f;
					border-radius: 50%;
					display: none;
				}

				&.active {
					background: #f26c4f;
	
					&::after {
						display: block !important;
					}
				}
	
				&:hover {
					background: #f26c4f;
				}
			}
		}

		.slider-0 {

			img.moving-img {
				position: absolute;
				width: 800px;
				max-height: 700px;
				left: 5%;
				top: 70%;
			}
			
		}

		.slider-1 {

			img.moving-img {
				position: absolute;
				width: 350px;
				left: 13%;
				top: 30%;
			}

		}

		.slider-2 {

			img.moving-img {
				position: absolute;
				width: 650px;
				max-height: 600px;
				left: 10%;
				top: 70%;
			}

		}

		.slider-3 {

			img.moving-img {
				position: absolute;
				width: 250px;
				max-height: 600px;
				left: 16%;
				top: 35%;
			}

		}

		.slide-tab {
			position: absolute;
			height: 100%;
			width: 100%;

			.slide-title {
				position: absolute;
				left: 40%;
				top: 30%;

				h1, h2 {
					z-index: 8;
					white-space: nowrap;
					font-weight: 700;
					font-size: 72px;
					line-height: 72px;
					color: rgb(255, 255, 255);
					letter-spacing: 0px;
					font-family: Montserrat;
				}

				h2 {
					color: rgb(242, 108, 79);
				}

				a.slide-shop-now {
					display: block;
					font-family: "Montserrat", sans-serif;
					position: relative;
					z-index: 2;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					text-align: center;
					border-radius: 0;
					padding: 0;
					line-height: 43px;
					width: 170px;
					height: 45px;
					letter-spacing: 1px;
					border: none;
					padding-left: 40px !important;
					line-height: 38px !important;
					color: white;
					transition: all 0.3s ease;

					&:hover {
						color: rgb(242, 108, 79);
					}

					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						height: 40px;
						z-index: -1;
						width: 86px;
						border: none;
						background-color: #252525;
					}
				}
			}

			.slide-caption {
				position: absolute;
				transform: rotateZ(270deg);
				top: 50%;
				left: 0;

				.caption-title {
					display: block;
					font-size: 18px;
					line-height: 27px;
					font-weight: 700;
					color: rgb(255, 255, 255);
					letter-spacing: 1px;
					font-family: Montserrat;
					text-transform: uppercase;
				}

				.caption-text {
					text-transform: uppercase;
					color: rgb(99, 99, 99);
					font-family: Montserrat;
					font-weight: 400;
					text-align: inherit;
					line-height: 27px;
					border-width: 0px;
					margin: 0px;
					padding: 0px;
					letter-spacing: 1px;
					font-size: 18px;
				}
			}
		}

		.nextSlideBtn {
			width: 100px;
			height: 160px;
			background-color: #000000;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
			margin-top: -50px;
			cursor: pointer;
			position: relative;

			svg {
				width: 40px;
				color: #f26c4f;
			}

			.nextSlidePrev {
				background: #000;
				position: absolute;
				width: 260px;
				height: 160px;
				left: -250%;
				top: 0;

				img{
					position: absolute;
					max-width: 20%;
					top: 50%;
					transform: translateY(-50%);
					left: 10%;
					max-height: 50%;
				}

				.slide-title {
					position: absolute;
					left: 40%;
					top: 30%;
	
					h1, h2 {
						z-index: 8;
						white-space: nowrap;
						font-weight: 700;
						color: rgb(255, 255, 255);
						letter-spacing: 0px;
						font-family: Montserrat;
						font-size: 16px;
					}
	
					h2 {
						color: rgb(242, 108, 79);
					}
				}

				.slide-caption {
					position: absolute;
					left: 40%;
					top: 54%;

					.caption-title {
						font-size: 12px;
						font-weight: 700;
						color: rgb(255, 255, 255);
						letter-spacing: 1px;
						font-family: Montserrat;
						text-transform: uppercase;
						display: block;
					}
	
					.caption-text {
						text-transform: uppercase;
						color: rgb(99, 99, 99);
						font-family: Montserrat;
						font-weight: 500;
						text-align: inherit;
						border-width: 0px;
						margin: 0px;
						padding: 0px;
						letter-spacing: 1px;
						font-size: 12px;
					}
				}
			}
		}
	}

}

@media( max-width: 1200px ){
	div.slideshow-main .slider-wrapper {
		max-width: 960px !important;

		.slider-1 {

			img.moving-img {
				width: 280px;
				left: 15%;
			}
			
		}

		.slider-2 {

			img.moving-img {
				width: 500px;
				left: 20%;
				top: 75%;
			}

		}

		.slider-3 {

			img.moving-img {
				width: 200px;
				max-height: 600px;
				left: 16%;
				top: 35%;
			}

		}

		.slide-tab {

			.slide-title {
				position: absolute;
				right: 0;
				top: 30%;

				h1, h2 {
					font-weight: 700;
					font-size: 64px;
					line-height: 40px;
				}

			}
		}
	}
}

@media( max-width: 990px ){
	div.slideshow-main .slider-wrapper {
		max-width: 720px !important;

		.slider-0 {

			img.moving-img {
				width: 500px;
				left: 15%;
			}
			
		}

		.slider-1 {

			img.moving-img {
				width: 240px;
				left: 15%;
			}
			
		}

		.slider-3 {

			img.moving-img {
				width: 170px;
				left: 17%;
				// max-height: 600px;
				top: 25%;
			}

		}

		.slide-tab {

			.slide-title {
				position: absolute;
				right: 0;
				top: 30%;

				h1, h2 {
					font-weight: 700;
					font-size: 48px;
					line-height: 40px;
				}

			}
		}

	}
}

@media( max-width: 768px ){

	div.slideshow-main {
		height: 650px;

		.slider-wrapper {
			max-width: 540px !important;
	
			.slider-0 {
	
				img.moving-img {
					width: 550px;
					left: 0;
					top: 58%;
				}
				
			}

			.slider-1 {

				img.moving-img {
					width: 200px;
					left: 15%;
				}
				
			}

			.slider-2 {

				img.moving-img {
					width: 400px;
					left: 15%;
					top: 65%;
				}
	
			}

			.slider-3 {

				img.moving-img {
					width: 150px;
					left: 15%;
					top: 35%;
				}
	
			}
	
			.slide-tab {
		
				.slide-title {
					left: 40%;
					top: 23%;
		
					h1, h2 {
						font-weight: 700;
						font-size: 36px;
						line-height: 18px;
					}
		
				}

				.slide-caption {
					top: 28%;
					left: 0 !important;
				}
			}
	
		}
	}


}

@media( max-width: 600px ){

	div.slideshow-main {
		height: 650px;

		.slider-wrapper {
			max-width: 100% !important;

			.slide-dots {
				justify-content: center;
			}
	
			.slider-0 {
	
				img.moving-img {
					width: 400px;
					left: 18%;
					top: 66%;
				}
				
			}
	
			.slide-tab {
		
				.slide-title {
					left: 40%;
					top: 23%;
		
					h1, h2 {
						font-weight: 700;
						font-size: 34px;
						line-height: 18px;
					}
		
				}

				.slide-caption {
					top: 28%;
					left: 0 !important;
				}
			}
	
			.nextSlideBtn {
				display: none;
			}
		}
	}


}

@media( max-width: 520px ){

	div.slideshow-main {
		height: 60vh;
		padding-bottom: 0;
		
		.slider-wrapper {

		.slider-0 {

			img.moving-img {
				width: 320px;
				left: 20%;
				bottom: 0;
			}
			
		}

		.slider-2 {

			img.moving-img {
				width: 300px;
				left: 22%;
			}

		}

		.slider-3 {

			img.moving-img {
				width: 150px;
				left: 17%;
				top: 35%;
			}

		}

		.slide-tab {
	
			.slide-title {
				left: 35%;
				top: 17%;

				h1, h2 {
					font-weight: 700;
					font-size: 30px;
					line-height: 12px;
				}
	
			}
		}

	}
}


}

@media( max-width: 420px ){

	div.slideshow-main {
		height: 580px; 
		padding-bottom: 0;
		
		.slider-wrapper {

			.slide-dots {
				// left: 50%;
				// transform: translateX(-50%);
				bottom: 10% !important;
			}

		.slider-0 {

			img.moving-img {
				width: 280px;
				left: 15%;
				bottom: 200px ;
			}
			
		}

		.slider-1 {

			img.moving-img {
				width: 170px;
				left: 25%;
				top: 50%;
			}
			
		}

		.slider-2 {

			img.moving-img {
				width: 280px !important;
				left: 20%;
				top: 65%;
			}

		}

		.slider-3 {

			img.moving-img {
				width: 140px;
				left: 30%;
				top: 45%;
			}

		}


		.slide-tab {
	
			.slide-title {
				left: 30%;
				top: 15%;

				h1, h2 {
					font-weight: 700;
					font-size: 28px;
					line-height: 8px;
				}
	
			}
		}

	}
}


}

@media( max-width: 370px ){

	div.slideshow-main {
		height: 440px; 
		padding-bottom: 0;
		
		.slider-wrapper {

			.slide-dots {
				// left: 50%;
				// transform: translateX(-50%);
				bottom: 10% !important;
			}

		.slider-0 {

			img.moving-img {
				width: 250px;
				left: 15%;
				top: 58%;
			}
			
		}

		.slider-1 {

			img.moving-img {
				width: 130px;
				left: 30%;
				top: 50%;
			}
			
		}

		.slider-2 {

			img.moving-img {
				width: 240px !important;
				left: 20%;
				top: 70%;
			}

		}

		.slider-3 {

			img.moving-img {
				width: 110px;
				left: 40%;
				top: 48%;
			}

		}

		.slide-tab {
	
			.slide-title {
				left: 30%;
				top: 15%;

				h1, h2 {
					font-weight: 700;
					font-size: 22px;
					line-height: 2px;
				}
	
			}
		}

	}
}


}

@media ( min-width: 768px ) {

	.slide-tab {
		.slide-caption {
			left: 5% !important;
		}
	}
}