
div.slideshow-main {
	z-index: 5 !important;
	position: relative;
	width: 100vw;
	height: 75vh;
	display: flex;
	justify-content: center;
	// background: rgb(14, 14, 14) !important;
	// padding-bottom: 100px;
	
	.slider-wrapper {
		background: #141414;
		z-index: 20 !important;
		width: 100%;
		max-width: 1140px;
		// width: 100%;
		// height: 100%;
		// max-width: 1600px;

		.all-slides {
			height: 100%;
			width: 100%;
			padding: 0 4.6%;
			position: relative;
		}

		.slide-tab .slide-title {

			h2 {
				color: #fff !important;
			}
		}
		

		.slide-dots {
			display: flex;
			align-items: center;
			position: absolute;
			left: 10%;
    	bottom: 14%;
			
			div {
				z-index: 20;
				margin-left: 5px;
				width: 2.4rem;
				height: 3px;
				background: #252525;
				border-radius: 0;
				cursor: pointer;
				position: relative;

				&:first-child {
					margin-left: 0;
				}
	
				&::after {
					content: "";
					position: absolute;
					top: -3px;
					right: 0;
					z-index: 2;
					width: 8px;
					height: 8px;
					background-color: #f26c4f;
					border-radius: 50%;
					display: none;
				}

				&.active {
					background: #f26c4f;
	
					&::after {
						display: block !important;
					}
				}
	
				&:hover {
					background: #f26c4f;
				}
			}
		}

		.slider-0 {

			img.moving-img {
				position: absolute;
				width: 550px;
				max-height: 700px;
				right: 13%;
				top: 14%;
				transform: rotateY(180deg) rotateZ(-4deg);
			}
			
		}

		.slider-1 {

			img.moving-img {
				position: absolute;
				width: 500px;
				right: 10%;
				top: 20%;
				transform: rotateY(180deg);
			}

		}

		.slider-2 {

			img.moving-img {
				position: absolute;
				width: 600px;
				max-height: 600px;
				right: 5%;
				top: 35%;
			}

		}

		.slider-3 {

			img.moving-img {
				position: absolute;
				width: 250px;
				max-height: 600px;
				right: 30%;
				top: 10%;

			}

		}

		.slide-tab {
			position: absolute;
			height: 100%;
			width: 100%;

			.slide-title {
				position: absolute;
				left: 5%;
				top: 19%;

				h1, h2 {
					z-index: 8;
					white-space: nowrap;
					font-weight: 600;
					font-size: 3.9rem;
					line-height: 4rem;
					color: rgb(255, 255, 255);
					letter-spacing: 2px;
					font-family: Montserrat;
				}

				h2 {
					margin-bottom: 3rem;
				}

				a.slide-shop-now {
					width: min-content;
					height: auto !important;
					display: flex;
					font-family: "Montserrat", sans-serif;
					position: relative;
					z-index: 2;
					font-size: 1rem;
					font-weight: 400;
					text-transform: uppercase;
					text-align: center;
					border-radius: 25px;
					padding: 8px 3.1rem;
					line-height: 43px;
					border: none;
					line-height: 38px !important;
					color: white;
					transition: all 0.3s ease;
					white-space: nowrap;
					background-color: #f26c4f ;

					// &:hover {
					// 	background-color: #000000 !important;
					// 	color: #fff;
					// }

					&::before {
						display: none !important;
					}
				}
			}

			.slide-caption {
				position: absolute;
				top: 12%;
				left: 5% !important;
				// transform: rotate(270deg) !important;

				.caption-title {
					display: block;
					font-size: 0.82rem;
					line-height: 27px;
					font-weight: 700;
					color: #767676;
					// letter-spacing: 1px;
					font-family: Montserrat;
					text-transform: uppercase;
				}
			}
		}

		.nextSlideBtn {
			width: 100px;
			height: 160px;
			background-color: #0e0e0e;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
			margin-top: -50px;
			cursor: pointer;
			position: absolute;
			bottom: 0;
			right: 7%;

			svg {
				width: 40px;
				color: #f26c4f;
			}

			.nextSlidePrev {
				background: #0e0e0e;
				position: absolute;
				width: 260px;
				height: 160px;
				left: -250%;
				top: 0;

				img{
					position: absolute;
					max-width: 20%;
					top: 50%;
					transform: translateY(-50%);
					left: 10%;
					max-height: 50%;
				}

				.slide-title {
					position: absolute;
					left: 40%;
					top: 30%;
	
					h1, h2 {
						z-index: 8;
						white-space: nowrap;
						font-weight: 700;
						color: rgb(255, 255, 255);
						letter-spacing: 0px;
						font-family: Montserrat;
						font-size: 16px;
					}
	
					h2 {
						color: rgb(242, 108, 79);
					}
				}

				.slide-caption {
					position: absolute;
					left: 40%;
					top: 54%;

					.caption-title {
						font-size: 12px;
						font-weight: 700;
						color: rgb(255, 255, 255);
						letter-spacing: 1px;
						font-family: Montserrat;
						text-transform: uppercase;
						display: block;
					}
	
					.caption-text {
						text-transform: uppercase;
						color: rgb(99, 99, 99);
						font-family: Montserrat;
						font-weight: 500;
						text-align: inherit;
						border-width: 0px;
						margin: 0px;
						padding: 0px;
						letter-spacing: 1px;
						font-size: 12px;
					}
				}
			}
		}

	}

}

@media( max-width: 1440px ){
	div.slideshow-main .slider-wrapper {

		.slider-0 {
	
			img.moving-img {
				// width: 550px ;
				top: 30%;
				// left: 17%;
			}
	
		}
		.slider-1 {
	
			img.moving-img {
				width: 550px ;
				// left: 17%;
				// top: 40%;
			}
	
		}
	}

}

@media( max-width: 1200px ){
	div.slideshow-main .slider-wrapper {
		max-width: 960px !important;

		.slider-0 {

			img.moving-img {
				position: absolute;
				width: 600px;
				max-height: 700px;
				right: 10%;
				top: 38%;
			}
			
		}

		.slider-1 {
			img.moving-img {
				width: 400px;

			}
		}

		.slide-tab {

			.slide-title {
				position: absolute;

				h1, h2 {
					font-weight: 700;
					font-size: 64px;
					line-height: 40px;
				}

			}
		}
	}
}

@media( max-width: 990px ){
	div.slideshow-main .slider-wrapper {
		max-width: 720px !important;

		.slider-0 {

			img.moving-img {
				// position: absolute;
				width: 450px;
				top: 30%;
				// max-height: 700px;
				// left: 8%;
			}
			
		}

		.slider-1 {

			img.moving-img {
				width: 300px;
				// left: 8%;
				// top: 35%;
			}

		}

		// .slider-2 {

		// 	img.moving-img {
		// 		position: absolute;
		// 		width: 600px;
		// 		max-height: 600px;
		// 		left: 11%;
		// 		top: 82%;
		// 	}

		// }

		.slider-3 {

			img.moving-img {
				// position: absolute;
				// width: 225px;
				// max-height: 600px;
				right: 20%;
				// top: 33%;
			}

		}

		.slide-tab {

			.slide-title {
				position: absolute;

				h1, h2 {
					font-weight: 700;
					font-size: 48px;
					line-height: 40px;
				}

			}

		}

	}
}

@media( max-width: 768px ){

	div.slideshow-main {
		height: 650px;

		.slider-wrapper {
			max-width: 540px !important;
	
			.slider-0 {
	
				img.moving-img {
					width: 400px;
					top: 40%;
				}
				
			}

			.slider-1 {

				img.moving-img {
					width: 300px;
					top: 50%;
				}
				
			}

			.slider-2 {

				img.moving-img {
					width: 500px;
					left: 3%;
					top: 50%;
				}
	
			}

			.slider-3 {

				img.moving-img {
					width: 200px;
					right: 10%;
				}
	
			}
	
			.slide-tab {
		
				.slide-title {
		
					h1, h2 {
						font-weight: 700;
						font-size: 36px;
						line-height: 18px;
					}
		
				}

			}

			.slide-dots {
				left: 50%;
    		transform: translateX(-50%);
			}
	
			.nextSlideBtn {
				display: none;
			}

		}
	}


}

@media( max-width: 600px ){

	div.slideshow-main {
		height: 650px;
		padding-bottom: 0;

		.slider-wrapper {
			// max-width: 100% !important;

			.slide-dots {
				justify-content: center;
				bottom: -10%;
			}
	
			.slider-0 {
	
				img.moving-img {
					// width: 400px;
					top: 55%;
					// left: 50%;
					transform: translateX(-50%);
				}
				
			}

			.slider-1 {

				img.moving-img {
					// width: 400px;
					top: 55%;
				}
				
			}

			.slider-2 {

				img.moving-img {
					width: 470px;
					left: 7%;
					top: 60%;
				}
	
			}

			.slider-3 {

				img.moving-img {
					width: 200px;
					// left: 11%;
					top: 36%;
				}
	
			}
	
			.slide-tab {
		
				.slide-title {
					// left: 40%;
					// top: 15%;
		
					h1, h2 {
						font-weight: 700;
						font-size: 34px;
						line-height: 18px;
					}
		
				}

			}
	
		}
	}


}

@media( max-width: 550px ){
	div.slideshow-main {
		padding-left: 15px;
		padding-right: 15px;

	}
}

@media( max-width: 520px ){

	div.slideshow-main {
		height: 60vh;
		padding-bottom: 0;
		
		.slider-wrapper {

			.slider-0 {
	
				img.moving-img {
					width: 340px;
					// left: 11%;
					// top: 42%;
				}
				
			}

			.slider-1 {

				img.moving-img {
					width: 290px;
					// left: 13%;
					top: 63%;
				}
				
			}

			.slider-2 {

				img.moving-img {
					width: 300px;
					left: 10%;
					top: 75%;
				}
	
			}

			.slider-3 {

				img.moving-img {
					width: 150px;
					top: 30%;
				}
	
			}

		.slide-tab {
	
			.slide-title {
				top: 17%;

				h1, h2 {
					font-weight: 700;
					font-size: 30px;
					line-height: 12px;
				}

				h2 {
					margin-bottom: 2rem;
				}

				a.slide-shop-now {
					font-size: 0.9rem;
					padding: 4px 2rem;
				}
	
			}

			.slide-caption {
				top: 6%;
			}

		}

	}
}


}

@media( max-width: 420px ){

	div.slideshow-main {
		// height: 580px; 
		
		.slider-wrapper {

			.slide-dots {
				bottom: 10% !important;
			}

			.slider-0 {
	
				img.moving-img {
					width: 320px;
					top: 50%;
				}
				
			}

			.slider-1 {

				img.moving-img {
					width: 290px;
					left: 11%;
					top: 65%;
				}
				
			}

			.slider-2 {

				img.moving-img {
					width: 325px;
					left: 7%;
					top: 65%;
				}
	
			}

			.slider-3 {

				img.moving-img {
					width: 130px;
					// left: 30%;
					top: 15%;
					right: 10%;
				}
	
			}

			.slide-tab {
		
				.slide-title {
					// left: 30%;
					top: 15%;

					h1, h2 {
						font-weight: 700;
						font-size: 28px;
						line-height: 8px;
					}
		
				}

				.slide-caption {
					top: 4%;
				}
			}

	}
}


}

@media( max-width: 370px ){

	div.slideshow-main {
		height: 500px; 
		padding-bottom: 0;
		
		.slider-wrapper {

			.slide-dots {
				// left: 50%;
				// transform: translateX(-50%);
				bottom: 10% !important;
			}

			.slider-0 {
	
				img.moving-img {
					width: 280px;
					// left: 10%;
					// top: 53%;
				}
				
			}

			.slider-1 {

				img.moving-img {
					width: 260px;
					// left: 12%;
					// top: 50%;
				}
				
			}

			.slider-2 {

				img.moving-img {
					width: 300px;
					// left: 10%;
					// top: 65%;
				}
	
			}

			.slider-3 {

				img.moving-img {
					width: 130px;
					top: 50%;
					left: 40%;
				}
	
			}

		.slide-tab {
	
			.slide-title {
				// left: 30%;
				// top: 12%;

				h1, h2 {
					font-weight: 700;
					font-size: 22px;
					line-height: 2px;
				}
	
			}
		}

	}
}


}

// @media ( min-width: 768px ) {

	// .slide-tab {
	// 	.slide-caption {
	// 		left: 5% !important;
	// 	}
	// }
// }