.about.page-title {

  h1 {
    color: #fff !important;
  }

  .breadcrumb {

    li {

      &:nth-child(1) a {
        color: #a1a1a1;

        &:hover {
          color: #F26C4F;
        }
      }

      &:nth-child(2) {
        padding: 0 5px;
      }

      &:before {
        content: '';
        padding: 0 !important;
      }
    }
  }
}
