.category-item {
	position: relative;
	width: 326px;
	height: 420px !important;

	.category--img {
		width: 100%;
		height: 420px;
    padding: 0 5%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #101010;
		z-index: 1;


		img {
			max-width: 97% !important;
			max-height: 95% !important;
		}
	}

	.category--content {

		.category--title {
			a {
				text-transform: capitalize;
			}
		}
	}

	.category--hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-family: "Lato", sans-serif;
		font-size: 13px;
		font-weight: 400;
		color: #a1a1a1;
		line-height: 1.5;
		-moz-box-shadow: 0px 0px 30.4px 1.6px rgba(204, 204, 223, 0.57);
		-webkit-box-shadow: 0px 0px 30.4px 1.6px rgba(204, 204, 223, 0.57);
		box-shadow: 0px 0px 30.4px 1.6px rgba(204, 204, 223, 0.57);
		padding-top: 60px;
		transition: all 0.35s;
		text-align: center;

		.add-to-cart {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 156px;
			height: 40px;
			line-height: 38px;
			font-size: 11px;
			letter-spacing: 0;
			color: #fff;
			z-index: 2;

			svg {
				width: 14px;
				color: #fff;
				margin-right: 5px;
			}

			&:hover {
				background-color: #fff;
				color: #f26c4f;
				border: none;

				svg {
					color: #f26c4f;
				}
			}
		}

		.category--action-content {
			background-color: white;
			padding: 20px 25px 35px;
			width: 100%;
			z-index: 2;

			.category--action-icons {
				display: flex;
				justify-content: center;
				width: 100%;
				margin-bottom: 10px;

				.product-quick-view {
					margin-right: 5px !important;
					display: flex !important;
					justify-content: center !important;
					align-items: center !important;
					padding: 10px;
	
					svg {
						width: 16px;
						color: #111;
					}
	
					&:hover {
						border-radius: 50%;
						background-color: #101010;

						svg {
							color: #fff;
						}
					}
				}
	
				.product-favorite {
					display: flex !important;
					justify-content: center !important;
					align-items: center !important;
					padding: 10px;
	
					svg {
						width: 16px;
						color: #111;
					}

					svg.active {
						fill: #f26c4f;
						color: #f26c4f;
					}
	
					&:hover {
						border-radius: 50%;
						background-color: #101010;

						svg {
							color: #fff;
						}

						svg.active {
							fill: none;
							color: #f26c4f;
						}
					}
				}
			}

			.category--hover-info {

				.category--title {

					h3 {

						a {
							font-size: 16px;
							font-family: "Montserrat", sans-serif;
							font-weight: 700;
							line-height: 22px;
							margin-bottom: 7px;
							color: #000;
							transition: 0.3s all;
							text-transform: capitalize;

							&:hover {
								color: #f26c4f !important;
							}
						}
					}
				}

				.category--price {
					font-size: 16px;
					font-family: "Lato", sans-serif;
					font-weight: 700;
					line-height: 1;
					margin-bottom: 7px;
					color: #000;
				}
			}

			.category--colors {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 10px;

				.product-color-options {
					display: inline-block;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					margin-right: 10px;
					border: 1px solid #0E0E0E;
				}
			}


		}

	}

	&:hover {

		.category--hover {
			display: flex;
		}
	}
}

.productHoverIn {
	animation: productHoverIn 0.3s forwards;
}

@keyframes productHoverIn {

	0% {
		transform: scale(0%);
	}

	100% {
		transform: scale(100%);
	}
}

