.product-info-side {
	padding-top: 120px !important;
}

.product-hero {
	padding-top: 100px;

	.breadcrumb {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	
		.breadcrumb-arrow {
			margin: 0 10px;
			svg {
				width: 18px;
				color: #7d7d7d;
			}
		}
	
		li::before {
			content: '';
			padding: 0;
			margin: 0;
		}
	}

	

	.product--desc-tabs {

		.nav-tabs {

			 li {

				 button {
					font-size: 14px;
					font-weight: 700;
					text-transform: capitalize;
					border-radius: 0;
					border: none;
					padding: 0;
					margin-right: 20px;
					position: relative;
					line-height: 1;
					padding-bottom: 15px;
					display: block;
					color: #acacac;
					transition: all 0.3s ease;

					&:hover {
						color: #000000;
						background-color: transparent;
						border: none;
					}
				 }

				 button.active {
					color: #000000;
					background-color: transparent;
					border: none;
				 }

				 button.active::before {
						width: 100% !important;
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
						width: 0;
						height: 2px;
						background-color: #000000;
						transition: all 0.3s ease;
						box-sizing: border-box;
				 }

			 }

		}
	}

	.product--meta-action {
		display: flex;
		align-items: center;

		.product-quantity {
			width: 100px;
			height: 45px;
			border: none;
			border-radius: 45px;
			font-family: "Lato", sans-serif;
			color: #FFFFFF;
			font-size: 13px;
			font-weight: 700;
			line-height: 45px;
			text-transform: uppercase;
			padding: 0 25px;
			position: relative;
			background-color: #f6f7fb;
			text-align: center;

			input[type=text] {
				padding: 0 2px 1px !important;
				margin: 0;
				color: #000000;
				width: 50px;
				text-align: center;
			}
		}

		.fav {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			text-align: center;
			font-size: 16px;
			border: 1px solid #d7d7d7;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.3s ease;
	
				svg {
					width: 20px;
					color: #fff;
				}

				svg.active {
					fill: #f26c4f ;
					color: #f26c4f ;
				}
	
				&:hover {
					background-color: #252525;
					border-color: #252525;
					color: white;
	
					svg {
						color: #fff;
					}

					svg.active {
						fill: none;
						color: #f26c4f;
					}
				}
		}
	}
}

.product--meta {

	.product--meta-info {
		font-family: "Lato", sans-serif;

		li {
			color: white;
			width: 50%;
			font-size: 16px;
			font-weight: 700;

			span {
				padding-left: 35px;
				color: #7d7d7d;
				font-weight: 400;
			}
		}
		
	}
}