.options-selector {
  border: 1px solid #e1e1e11e;
  padding: 0;
  margin: 0;

  .select--box {

    .fa-caret-down {
      top: 50%;
      transform: translateY(-50%)
    }

    select {
      height: 54px;
      border: none;
      font-size: 12px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      margin-bottom: 0;
      padding: 0 15px;
    }
  }
}