.recent-products-carousel {
	
	.slick-track {
		// width: 100% !important;
	}
}

#products-carousel {
	padding-bottom: 0 !important;
}

.products-carousel {

	&>div {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}