.terms-title {	
	height: auto !important;
	background-size: 120%;
	background-repeat: no-repeat;

	.title.title-3 {
		padding-top: 130px !important;
		padding-bottom: 0 !important;
	}

	.breadcrumb {
		display: flex;
		justify-content: center;
		align-items: center;
	
		.breadcrumb-arrow {
			margin: 0 10px;
			svg {
				width: 18px;
				color: #7d7d7d;
			}
		}
	
		li::before {
			content: '';
			padding: 0;
			margin: 0;
		}
	}
}
