.contact-gallery {

	.left-side {
		padding: 0 !important;

		.contact-carousel {

			.gallery--item {
		
				img {
					filter: brightness(50%);
					width: 100%;
				}
			}
		}
	}

	input {
		color: #111 !important;
		font-size: 16px;
		font-weight: 500;
	}

	textarea {
		color: #111 !important;
		font-size: 16px;
		font-weight: 500;
	}

	.reach-out-btn {
		color: #fff !important;
	}
}


