.contact-gallery {

	.left-side {
		padding: 0 !important;

		.contact-carousel {

			.gallery--item {
		
				img {
					filter: brightness(50%);
					width: 100%;
				}
			}
		}
	}

	input, textarea {
		color: #fff !important;
		font-size: 16px !important;
		background-color: #252525 !important;
		transition: all 0.3s ease;
		border: 1px solid transparent !important;
		font-weight: 500;

		&:focus-within {
			border-color: #a1a1a1 !important;
		}
	}

	.reach-out-btn {
		color: #fff !important;
	}
}


