.module-content.cart-box {
	display: flex !important;
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
	right: -475px ;
	top: 0;
	height: 100%;
	background-color: #000;
	width: 475px !important;
	border-radius: 0;
	z-index: 2000;
	opacity: 1 !important;
	box-shadow: 0 2px;
	padding: 40px 40px 20px;
	color: #fff !important;
	overflow: auto;

	.module-cancel {
		position: absolute;
		right: 40px;
		top: 40px;
    display: flex;
    padding-bottom: 30px;
		cursor: default !important;

		svg {
			width: 26px;
			height: 26px;
			color: #a1a1a1;
			cursor: pointer;
		}

		&:hover {

			svg {
				color: #fff;
			}
		}
	}

	.cart-title {
		padding-top: 0px !important;
		width: 80%;
	}

	.cart-overview {
		display: flex;
		flex-direction: column;
		min-height: 40%;
		overflow-y: auto;
		flex-shrink: 0 !important;
		padding-right: 5px;

			div {
				opacity: 1 !important;
				display: flex;
				align-items: center;
				height: 170px !important;
				padding: 10px 0 !important;
				color: #fff !important;
				margin: 0 !important;
				border-bottom: 1px solid #222 !important;
				flex-shrink: 0;
				
				.img-wrapper {
					width: 100px;
					height: 150px !important;
					// background-color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					border-bottom: none !important;

					img{
						max-width: 90%;
						max-height: 90%;
						position: relative !important;
					}
				}

				div.product-meta {
					padding-left: 24px !important;
					height: 150px;
					display: block;

					.product-qunt {
						color: #a1a1a1 !important;
						margin-bottom: 5px !important;
						font-size: 14px !important;
					}

					.product-color {
						color: #a1a1a1 !important;
						font-size: 14px !important;
					}

					.product-size {
						color: #a1a1a1 !important;
						font-size: 14px !important;
					}

					.product-price {
						color: #a1a1a1 !important;
					}
				}

				button.cart-cancel {
					position: relative !important;
					margin-left: auto;
				}
			}
			
	}

	.cart-total {
		opacity: 1 !important;
		margin-bottom: 0;
		margin-top: 40px;
		display: block;
		height: auto !important;
		overflow: visible !important;
		transform: none;

		.total-desc {
			color: #fff !important;
		}
	}

	.cart--control {
		opacity: 1 !important;

		.view-cart-btn {
			color: #fff !important;
			display: block;
			width: 100%;
			margin-bottom: 15px;
		}

		.checkout-btn {
			color: #fff !important;
			display: block;
			width: 100%;
		}
	}

	.no-product {
		color: #a1a1a1;
		font-size: 1.1rem;
		margin-top: 50px;
	}
}

.slideCartLeft {
	right: 0 !important;
}

.cart-cancel {
	svg {
		width: 22px;
		color: #636363;
	}

	&:hover {

		svg {
			color: #f1f1f1;
		}
	}
}

@media ( max-width: 600px ) {

	.cart-title h5 {
		font-size: 1.5rem;
	}
	
	.module-content.cart-box {
		right: -375px ;
		width: 375px !important;
	}

	.cart-total {
		margin-top: 40px;
		margin-bottom: 10px !important;
	}

	.cart--control {
		padding-bottom: 30px !important;
	}

}

@media ( max-width: 450px ) {
	
	.module-content.cart-box {
		right: -300px ;
		width: 300px !important;
	}

}