.serach-modal {
	position: absolute;
	top: 40px;
	right: 0;
	min-width: 350px;
	max-width: 400px;
	border-radius: 20px;
	background: #fff;
	padding: 10px 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation-duration: 2s;
	-moz-box-shadow: 0px 6px 16.92px 1.08px rgba(204, 204, 223, 0.32);
	-webkit-box-shadow: 0px 6px 16.92px 1.08px rgb(204 204 223 / 32%);
	box-shadow: 0px 6px 16.92px 1.08px rgb(204 204 223 / 32%);
}

.serach-modal input {
	border: none;
	font-size: 16px;
	font-weight: 500;
	color: #111;
	width: 100%;
}

.serach-modal input::placeholder {
	font-size: 16px;
	font-weight: 500;
	color: #111;
}

.search-btn {
	padding: 2px;
}

.search-btn svg {
	width: 18px;
	height: 18px;
	color: #111;
}