footer.footer {
	z-index: 0;
	background-color: #000000;

	.widget--content {

		.widget--logo-img {
			margin-bottom: 2.5rem;

			img {
				width: 6rem;
			}
		}

		h3 {
			color: #ffffff !important;
		}

		p {
			color: #A1A1A1 !important;
		}
	}

	.widget--newsletter {

		.subscription-form {
			position: relative;
			overflow: hidden;
			border-radius: 40px;

			.subscribe-btn {
				top: 50% !important;
				right: 0 !important;
				transform: translateY(-50%) !important;
				height: 100%;
				width: 45px;
				color: #363636;
				background-color: #111;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 18px;
				transition: all 0.3s ease;

				&:hover {
					color: #fff;
				}
			}
		}


	}

}

@media ( max-width: 768px ) {
	footer.footer {
		.footer--copyright { 
			margin-bottom: 3.5rem;
		}

		.widget--contact-info {
			margin-bottom: 1.5rem;

			ul li {
				font-weight: 500;
				font-size: 0.75rem;
			}
		}

		.widget--links {
			margin-bottom: 2rem;
		}
	}

}

@media ( max-width: 600px ) {
	footer.footer {


			.footer--copyright {

				// font-size: 2rem !important;
				span {
					font-size: 0.85rem;

					b {
						color: #F26C4F;
						font-weight: 600;
					}
				}
			}
	}
}