footer.footer {
	z-index: 0;
	background-color: #000000;

	.widget--content {

		h3 {
			color: #ffffff !important;
		}

		p {
			color: #A1A1A1 !important;
		}
	}

	.widget--newsletter {

		.subscription-form {
			position: relative;

			button {
				top: 50% !important;
				right: 15px !important;
				transform: translateY(-50%) !important;
			}
		}
	}
}