.login-title {
	padding-top: 100px;

	.breadcrumb {
		display: flex;
		justify-content: center;
		align-items: center;
	
		.breadcrumb-arrow {
			margin: 0 10px;
			svg {
				width: 18px;
				color: #7d7d7d;
			}
		}
	
		li::before {
			content: '';
			padding: 0;
			margin: 0;
		}
	}
}

input {
	text-transform: none !important;
}

.login-form, .regist-form {

	button:focus {
		background-color: #F26C4F;
	}

	button:hover {
		background-color: rgba(0, 0, 0, 0.4);
		color: #fff;
	}
}