.features-carousel {
	overflow: hidden !important;
	padding: 60px 0;

	.next-arrow {
		position: relative;
		z-index: 20;

		svg {
			position: absolute;
			top: -90px;
			left: 50%;
			transform: translateX(-50%);
			width: 25px;
			height: 25px;
			color: rgba($color: #a1a1a1, $alpha: 0.5);
			cursor: pointer;
		}
	}

	.prev-arrow {
		position: relative;
		z-index: 20;

		svg {
			position: absolute;
			bottom: -65px;
			left: 50%;
			transform: translateX(-50%);
			width: 25px;
			height: 25px;
			color: rgba($color: #a1a1a1, $alpha: 0.5);
			cursor: pointer;
		}
	}

	.feature-item {
		display: flex !important;

		.vertical--text {
			color: #f26c4f !important;
		}
	}

	.featured--item-desc p {
		height: 100% !important;
		display: flex !important;
		align-items: center !important;
	}
}

.featured-collection-container {
	width: 100%;

	h2.heading--title {
		color: #a1a1a1;
		font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 22px;
		letter-spacing: 1px;
		text-transform: capitalize;
	}

	.heading--desc {
		font-family: "Montserrat", sans-serif;
		font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
		padding: 0 10%;
	}
}

.slide--item {

	overflow: hidden !important;

	.collection-item.big-pic {
		position: relative;
		height: 70vh;
		width: 50vw;

		.collection--img {
			left: -2%;
			position: absolute;
			height: 100%;
			width: 50vw;

			img {
				object-fit: cover;
				height: 100%;
				filter: blur(3px);
				z-index: 0;
			}

		}

		.collection--content {
			position: absolute;
			right: auto;
			text-align: left;
			top: 50%;
			right: -190px;
			max-width: 340px;
			z-index: 2;
			-webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
			z-index: 2;
			-moz-transform: translateY(-50%);

			.collection--title h3 {
				font-family: "Montserrat", sans-serif;
				font-size: 48px;
				font-weight: 700;
				line-height: 1.5;
				transition: 0.3s ease;

				&:hover {
					color: #F26C4F !important;
				}
			}

			.collection--desc p {
				font-family: "Lato", sans-serif;
				font-size: 14px;
				font-weight: 400;
				color: #4b4b4b;
				line-height: 1.5;
			}
		}
	}

	.collection-item.product-side {
		position: relative;
		text-align: center;
		margin-top: 25%;

		.collection--img {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-bottom: 20px;

			img {
				width: auto;
				height: auto;
			}
		}

		.collection--content {

			.collection--title h3 {
				font-family: "Montserrat", sans-serif;
				font-size: 18px;
				line-height: 1;
				font-weight: 700;
				color: #a1a1a1;
				border: none !important;

				&:hover {
					color: #F26C4F !important;
				}

				&:after {
					display: none !important;
				}
			}

			.collection--price {
				color: #555555;
				font-size: 16px;
				font-weight: 700;
				line-height: 1.5;
			}
		}
	}
}

@media ( max-width: 999px ) {
	.features-carousel {
		.feature-item {
			flex-direction: column !important;
			align-items: center;
		}
	}
}

@media ( max-width: 768px ) {
	
	.featured-collection-container {
	
		h2.heading--title {
			font-size: 30px;
		}

		.heading--desc {
			font-size: 18px !important;
		}

	}

	.slide--item {
	
		.collection-item.big-pic {
			height: 550px;
			width: 100%;
	
			.collection--img {
				width: 100%;
				left: 0;
			}
	
			.collection--content {
				left: 50%;
				top: 25%;
				transform: translateX(-50%);

			}

		}
	}
}