.features-carousel {
	overflow: visible;
	padding: 60px;

	.next-arrow {
		position: relative;
		z-index: 20;

		svg {
			position: absolute;
			top: -90px;
			left: 50%;
			transform: translateX(-50%);
			width: 25px;
			height: 25px;
			color: rgba($color: #a1a1a1, $alpha: 0.5);
			cursor: pointer;
		}
	}

	.prev-arrow {
		position: relative;
		z-index: 20;

		svg {
			position: absolute;
			bottom: -65px;
			left: 50%;
			transform: translateX(-50%);
			width: 25px;
			height: 25px;
			color: rgba($color: #a1a1a1, $alpha: 0.5);
			cursor: pointer;
		}
	}

	.feature-item {
		display: flex !important;

		.vertical--text {
			color: #f26c4f !important;
		}
	}

	.featured--item-desc p {
		height: 100% !important;
		display: flex !important;
		align-items: center !important;
	}
}

@media ( max-width: 999px ) {
	.features-carousel {
		.feature-item {
			flex-direction: column !important;
			align-items: center;
		}
	}
}
