.product--desc-tabs, .product--tabs {

	button {
		color: #A1A1A1 !important;
		margin-right: 20px;

		&.active {
			color: #fff !important;

			&::before {
				background: #fff !important;
			}
		}

		&:hover {
			color: #fff !important;
		}
	}

	.tab-content {
		p {
			color: #A1A1A1;
			margin-bottom: 35px;
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
		}
	}
}


.product--meta-action {

	.qty {
		color: #000000 !important;
		width: 50px !important;
	}

	.add-to-card-btn {
		color: #fff ;
	}

	button.fav {
		border-color: #252525;
		color: white;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 50%;
		text-align: center;
		font-size: 16px;
		border: 1px solid #d7d7d7;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 11px;
		transition: 0.3s all;

		svg {
			width: 20px;
			color: #f26c4f;
			transition: 0.3s all;
		}

		&:hover {
			background-color: #252525;
			border-color: #111;
			svg {
				color: #fff;
			}
		}
	}

}

.product--meta-select3 {

	select.form-control {

		option {
			color: #000 !important;

			&:hover {
				color: #fff !important;
			}
		}
	}
}

.product-detalis-11 .breadcrumb {
	left: 70px !important;
}