.slider-wrapper {
	position: relative;
	width: 100%;

	.slide-number {
		position: absolute;
		top: 9%;
		right: 20%;
		font-size: 20px;

		span {
			font-size: 24px;
			color: #a1a1a1;
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
		}
	}

	.slick-slide {
		// padding: 0 10px;
		
		img {
			// width: 100%;
		}
	}

	.slide-gallery {
		width: 100%;
		margin-top: 15px;
		display: flex;
		padding: 10px 0;
		align-items: center;
		overflow: auto;
		// overflow: hidden;
		z-index: 1000;

		.gallery-slide {
			width: 70px;
			height: 70px;
			flex-shrink: 0;
			// flex-grow: 1;
			margin-right: 12px;
			cursor: pointer;
			overflow: hidden;

			img {
				height: 100%;
				object-fit: cover;
			}
		}
	}

}

@media ( max-width: 999px ) {
	.slider-wrapper {
	
		.slide-number {
			top: 100% !important;
			left: 47% !important;
			transform: translateX(-50%), translateY(-50%) !important;
		}
	}
}
