.slider-wrapper {
	position: relative;
	width: 100%;

	.slide-number {
		position: absolute;
		top: 9%;
		right: 20%;
		font-size: 20px;

		span {
			font-size: 24px;
			color: #a1a1a1;
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
		}
	}

	.slick-slide {
		// padding: 0 10px;
		
		img {
			// width: 100%;
		}
	}

	.dots-wrapper {
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translateY(-50%);

		.carousel-dot {
			border: none;
			outline: none;
			background: none;
			padding: 0;
			cursor: pointer;
			display: block;
			cursor: pointer;

			span {
				height: 8px;
    		width: 8px;
				background-color: transparent;
				background-color: transparent;
				margin: 0 4px;
				border: 2px solid #343434;
				border-radius: 50%;
				display: inline-block;
				transition: 0.3s ease;
			}

			span:hover {
				background-color: #F26C4F;
    		border-color: transparent;
			}
			
		}

		.carousel-dot.active {
			
			span {
				background-color: transparent;
    		border-color: #F26C4F;
			}
		}
	}

	.slide-gallery {
		width: 100%;
		margin-top: 15px;
		display: flex;
		padding: 10px 0;
		align-items: center;
		overflow: auto;
		overflow-y: hidden;
		z-index: 1000;

		.gallery-slide {
			width: 70px;
			flex-shrink: 0;
			margin-right: 18px;
			cursor: pointer;

			img {
				width: 100%;
			}
		}
	}

}

@media ( max-width: 999px ) {
	.slider-wrapper {
	
		.slide-number {
			top: 100% !important;
			left: 47% !important;
			transform: translateX(-50%), translateY(-50%) !important;
		}
	}
}
