.swiper-container {
  width: 100%;
  // height: 100%;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);

}

.swiper-thumbs {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 10px 0;

  .swiper-slide {
    width: 15%;
    height: 100%;
    opacity: 0.4;
    transition: opacity 0.3s ease;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }

  &.swiper-container-vertical {
    width: calc(26% - 20px) !important;
    height: 100%;
    margin-right: 25px;
    padding-top: 0 !important;

    .swiper-slide {
      display: flex;
      width: 100% !important;
      height: auto !important;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      cursor: pointer;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        aspect-ratio: 1/1;
      }
    }
      

  }
}